// .carousel {
//     padding: 81px 0 82px;

//     &__inner {
//         position: relative;
//         width: 750px;
//         margin: 0 auto;
//     }

//     .slick-prev,
//     .slick-next {
//         position: absolute;
//         border: none;
//         background-color: #fff;
//         top: 50%;
//         transform: translateY(-50%);
//         left: -66px;

//         img {
//             width: 31px;
//             height: 50px;
//         }
//     }

//     .slick-next {
//         right: -66px;
//         left: auto
//     }

//     ul.slick-dots {
//         display: flex !important;
//         justify-content: center;
//         list-style: none;

//         li+li {
//             padding-left: 5px;
//         }

//         button {
//             width: 15px;
//             height: 15px;
//             font-size: 0px;
//             border-radius: 50%;
//             background-color: $main-color;
//             border: none;
//         }
//     }
// }

.owl-carousel {
    padding: 50px 0;
    position: relative;

    .owl-nav {
        button.owl-prev {
            background-image: url(../../icons/prev-button.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -66px;
            width: 30px;
            height: 50px;
            span {
                display: none;
            }
        }

        button.owl-next {
            background-image: url(../../icons/next-button.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -66px;
            width: 30px;
            height: 50px;
            span {
                display: none;
            }
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 5px;

        .owl-dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: aquamarine;
            border: 2px solid aqua;
        }

        .owl-dot+.owl-dot {
            margin-left: 5px;
        }

        .active {
            width: 20px;
            height: 20px;
            border: 2px solid aquamarine;
            border-radius: 50%;
            background-color: aqua;
            margin-top: -2px;

        }
    }
}