.feedback {
    padding-bottom: 50px;

    &__title {
        margin-bottom: 60px;
    }

    &__item {
        display: flex;
        width: 100%;

        &-img {
            width: 170px;
            height: 170px;
            margin-right: 60px;
            margin-top: 20px;
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 0;
        }

        &-subtitle {
            font-size: 14px;
            font-weight: 500;
        }

        &__wrapper-text {
            
            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 20px;
            }
        }
    }

    &__item + &__item {
        margin-top: 60px;
    }
}