@media (max-width: 576px) {
    .consultation {
        padding: 30px 0 30px;
        display: flex;
        text-align: center;
    }

    .title_left {
        font-size: 22px;
        line-height: 36px;
        display: flex;
        text-align: center;
    }

    .consultation__descr {
        width: 100%;
        font-size: 18px;
    }

    .feed-form {
        width: 100%;
    }
}