@media (max-width: 992px) {
    .benefits {
        padding: 35px 0 30px;
        &__item {
            margin-top: 25px;
            padding: 0 15px;
            &__title {
                margin-top: 15px;
            }
            &__text {
                margin-top: 10px;
            }
        }
        &__item + &__item {
            margin-left: 0;
        }
    }
}

@media (max-width: 576px) {
    .benefits__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
}