@media (max-width: 768px) {
    .carousel__inner {
        width: 100%;
    }

    .carousel__inner img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .carousel__inner {
        width: 100%;
    }

    .carousel__inner img {
        width: 100%;
    }
}