@media (max-width: 768px) {
    .catalog {
        &__content {
            margin: 0 10px;
        }

        &-item {
            padding: 0 4px;
            margin: 5px 5px;

            &__old-price {
                font-size: 12px;
            }

            &__price {
                font-weight: 700;
                font-size: 16px;
            }
        }

        .button_mini {
            width: 120px;
        }

        &__tabs {
            padding: 20px 0 40px;
        }

        &__tab {
            width: 165px;
            height: 47px;
            font-size: 15px;
            line-height: 47px;

            &:hover {
                box-shadow: 3px 3px 8px #c70101;
            }
        }

        &__content {
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .catalog {

        &-item__inner__back {
            padding-top: 10px;
        }

        &-item__inner_active {
            margin: 10px 0;
        }

        &__tabs {
            flex-wrap: wrap;
        }

        &__tab {
            width: 90%;
            height: 47px;
            font-size: 15px;
            line-height: 0;
            padding: 25px 3px 0;
            margin: 10px 0;

            &:hover {
                box-shadow: 3px 3px 10px #c70101;
            }
        }

        &__content {
            justify-content: center;
        }
    }
}